# Environment variables
.env
.env.test
.env.production

# Dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# System Files
Thumbs.db
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
